@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// mixins
@mixin too-small-mobile {
  @media (min-width: $too-small-mobile) {
    @content;
  }
}

@mixin small-mobile {
  @media (min-width: $small-mobile) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin small-tab {
  @media (min-width: $small-tab) {
    @content;
  }
}

@mixin big-tab {
  @media (min-width: $big-tab) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: $small-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin mid-desktop {
  @media (min-width: $mid-desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $large-desktop) {
    @content;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul.tags-wrapper {
    margin-top: 30px;
    li.tag {
        margin-bottom: 10px;
        margin-right: 10px;
        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            // top: 0;
            &:checked+label {
                background-color: $primary-color;
                color: $white-color;   
                // i {
                //     display: block;
                //     opacity: 1;
                // }
            }
        }
        label {
            margin-bottom: 0;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 30px;
            border: 2px solid $primary-color;
            color: $primary-color;
            font-weight: 500;
            border-radius: 50px;
            transition: .4s;
            i {
                font-size: .8rem;
                display: none;
                opacity: 0;
                transition: .4s;
            }
            &:hover {
                background-color: $primary-color;
                color: $white-color;
            }
        }
    }  
}

select {
    width: 400px;
}

.card {
  border-color: #dfdfdf;
  border-radius: 10px;
  .card-header {
    border-bottom-color: #dfdfdf;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 110px;
    .card-title {
      font-weight: 500;
    }
  }
  .card-body {
    p {
      &.relevance_score {
        font-size: 1rem;
        span {
          text-transform: uppercase;
        }
      }
    }
  }
  .card-footer {
    padding: 16px;
  }
}